* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#park {
    min-height: 250px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: aliceblue;
    margin: 16px 0;
}

#controls {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* background-color: aquamarine; */
    margin: 16px 0;
}

.control {
    margin: 8px;
    display: flex;
    flex-direction: column;
    min-height: 100px;
    background-color:azure;
    width: 45vw;
}

.color-header {
    height: 5px;
    align-self: stretch;
}

.add-property-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    padding: 8px;
}

.add-property-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.add-property-button {
    flex: 1;
}

.add-property-name {
    flex: 2;
}

.add-property-value {
    flex: 2;
}

.base-target {
    background-color: rebeccapurple;
    width: 200px;
    height: 200px;
    margin: 8px;
}
